.homepage {
  padding-top: 142px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.herobtn {
  width: 270px;
}
.title {
  width: 300px;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 24px;
}
.desc {
  text-align: center;
  width: 300px;
  margin-bottom: 48px;
}
.seg,
.segB,
.segD {
  padding: 96px 0 130px;
}
.frame,
.frameB {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame h1 {
  font-size: 36px;
  line-height: 44px;
  color: var(--primary-text-dark);
  text-align: center;
  margin-bottom: 22px;
}
.frame span {
  color: var(--primary-green-0);
}
.frame h3 {
  color: var(--primary-text-dark);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 22px;
  width: 312px;
}
.frame .txt {
  width: 306px;
  text-align: center;
  margin-bottom: 56px;
  color: var(--primary-text-dark);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 245.82px;
  height: 163.72px;
}
.lecturer1 {
  width: inherit;
  height: inherit;
}
.award {
  position: absolute;
  bottom: -24px;
  left: -16px;
}
.notifBox {
  position: absolute;
  z-index: 1;
  bottom: -22px;
  right: 4px;
}

.segB {
  background-color: #091b34;
}
.medalbg {
  width: 154.71px;
  height: 294px;
  margin-bottom: 46px;
}
.pagesthick {
  position: absolute;
  width: 296px;
  height: 194.2px;
}
.frameB {
  color: var(--primary-white-50);
}
.boxB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frameB h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 22px;
}
.frameB .txt {
  margin-bottom: 34px;
  text-align: center;
  max-width: 500px;
}
.btnPack {
  width: 242px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.segC {
  background-color: var(--primary-dark-blue);
  padding: 29px 0;
}
.segCWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-50);
}
.segCFrame {
  display: flex;
  justify-content: space-between;
  width: 262.53px;
  align-items: center;
  color: var(--primary-white-50);
}
.segCWrapper img {
  width: 123.53px;
  height: 52.01px;
}
.segCWrapper h3 {
  font-size: 14.4px;
  line-height: 18.14px;
}
.segCWrapper p {
  font-size: 12px;
  line-height: 18px;
  width: 123px;
}

.segDFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-dark);
}
.segDFrame h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 22px;
  /* width: 300px; */
}
.segDFrame .txt {
  margin-bottom: 42px;
  max-width: 750px;
}
.btnPackB {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.reviewFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewHero .btnPackB {
  max-width: 750px;
}
.reviewGrid,
.reviewGridB {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin-top: 76px;
}
.reviewGridB {
  margin-top: 32px;
}

.segE {
  background-color: #fffbf5;
  padding: 61px 0 88px;
  overflow: hidden;
}
.segEFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-dark);
}
.segEFrame h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 22px;
}
.segEFrame .txt {
  margin-bottom: 42px;
  max-width: 400px;
}
.greencurve,
.yellowarch {
  position: absolute;
}
.greencurve {
  top: 0;
  right: -10px;
}
.yellowarch {
  bottom: 0;
}

.segF {
  padding: 96px 0 120px;
}
.segFWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.segFWrapper h1 {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.segFWrapper .txt {
  text-align: center;
  margin-bottom: 16px;
}
.segFWrapper .txt:nth-of-type(2) {
  width: 295px;
  margin-bottom: 24px;
}
.contactBtn {
  width: 147px;
}
.guides {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
}
.segFFrame {
  margin-bottom: 16px;
}
.guidesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 53px;
  margin-top: 94px;
}
.guidesBtn {
  width: 141px;
}

@media screen and (min-width: 500px) {
  .title {
    width: 460px;
  }
  .desc {
    width: 400px;
  }
  .btnPack {
    width: 460px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .title {
    width: 550px;
  }
  .desc {
    width: 450px;
  }

  .frame h3 {
    width: 350px;
  }

  .medalbg {
    margin-bottom: 0;
  }

  .reviewFrame {
    flex-direction: row;
    margin-top: 76px;
    gap: 10px;
  }
  .reviewGrid,
  .reviewGridB {
    gap: 10px;
    margin-top: 0;
  }
  .reviewGrid {
    transform: translateY(30px);
  }

  .segEFrame {
    flex-direction: row;
    gap: 20px;
  }

  .guidesGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (min-width: 800px) {
  .frameB {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
  }
  .boxB {
    margin-left: 50px;
  }
  .frameB .txt {
    max-width: 400px;
  }
}

@media screen and (min-width: 850px) {
  .title {
    width: 750px;
  }
  .desc {
    width: 600px;
  }

  .content {
    flex-direction: row;
  }
  .frame .txt {
    margin-bottom: 0;
  }
  .wrapper {
    margin-left: 50px;
  }

  .frameB .txt {
    max-width: 500px;
  }
  .reviewFrame {
    gap: 25px;
  }
  .reviewGrid,
  .reviewGridB {
    gap: 25px;
  }

  .segEFrame {
    justify-content: space-between;
  }

  .guidesGrid {
    gap: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 60px;
    line-height: 72px;
    width: 912px;
  }
  .desc {
    width: 863px;
    font-size: 18px;
    line-height: 28px;
  }

  .seg {
    border-top: 1px solid var(--border-color-50);
    padding: 72px 0 127.88px;
  }
  .content {
    flex-direction: row;
    align-items: center;
  }
  .box {
    align-items: start;
    justify-content: center;
  }
  .frame h3 {
    width: 390px;
    text-align: left;
    margin-bottom: 10px;
  }
  .frame .txt {
    text-align: left;
    margin: 0;
  }

  .wrapper {
    width: 400px;
    height: 250px;
  }
  .award {
    width: 64px;
    height: 90px;
    left: -27px;
  }

  .segB {
    padding: 62px 0;
  }
  .frameB {
    flex-direction: row;
    justify-content: center;
  }
  .medalbg {
    width: 200px;
    height: 400px;
    margin: 0;
  }
  .pagesthick {
    width: 400px;
    height: 320px;
  }
  .boxB {
    align-items: flex-start;
    margin-left: 100px;
  }
  .frameB .txt {
    text-align: left;
  }
  .btnPack {
    width: unset;
    grid-template-columns: repeat(2, 242px);
  }

  .segCWrapper p {
    width: fit-content;
  }
  .segCFrame {
    width: unset;
  }
  .segCWrapper img {
    margin-right: 10px;
  }

  .segD {
    padding-bottom: 160px;
  }
  .segDFrame {
    flex-direction: row;
    align-items: flex-start;
  }
  .reviewFrame {
    flex-direction: row;
    gap: 12px;
    margin: 0 0 0 66px;
  }
  .reviewHero {
    align-items: flex-start;
  }

  .segDFrame h1,
  .segDFrame .txt {
    text-align: left;
    width: 300px;
  }
  .reviewGrid,
  .reviewGridB {
    margin: 0;
    gap: 12px;
  }
  .reviewGrid {
    transform: translateY(60px);
  }

  .segEFrame {
    flex-direction: row;
  }
  .boxC {
    /* margin-top: 50px; */
    padding-right: 22px;
  }

  .segFWrapper .txt:nth-of-type(2) {
    width: fit-content;
  }
  .guides {
    width: 100%;
  }
  .segFFrame {
    margin-bottom: 0;
  }
  .boxD {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .guidesGrid {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .frame h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 24px;
  }
  .frame h3 {
    font-size: 30px;
    line-height: 38px;
    width: 443px;
  }
  .frame .txt {
    font-size: 18px;
    line-height: 28px;
    width: 443px;
  }
  .wrapper {
    margin-left: 120px;
    width: 538px;
    height: 358.31px;
  }

  .frameB {
    justify-content: space-between;
    padding-left: 150px;
  }
  .medalbg {
    width: 292.35px;
    height: 555.55px;
  }
  .pagesthick {
    width: 572.6px;
    height: 372.97px;
  }
  .boxB {
    margin-left: 0;
  }
  .frameB h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .frameB .txt {
    font-size: 18px;
    line-height: 28px;
  }

  .segCWrapper img {
    width: 166.05px;
    height: 69.91px;
  }
  .segCWrapper h3 {
    font-size: 19.35px;
    line-height: 22.68px;
  }
  .segCWrapper p {
    font-size: 17.48px;
    line-height: 26.22px;
  }

  .reviewHero {
    padding-right: 18px;
  }
  .segDFrame h1 {
    font-size: 48px;
    line-height: 60px;
    width: 450px;
  }
  .segDFrame .txt {
    font-size: 18px;
    line-height: 28px;
    width: 506px;
  }

  .segEFrame h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .segEFrame .txt {
    font-size: 18px;
    line-height: 28px;
    width: 499px;
  }

  .segFWrapper h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .segFWrapper .txt {
    font-size: 18px;
    line-height: 28px;
  }

  .guidesHeading {
    font-size: 36px;
    line-height: 44px;
  }
  .guidesDesc {
    font-size: 18px;
    line-height: 28px;
    width: 588px;
  }
  .guidesGrid {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1400px) {
  .frameB {
    justify-content: center;
  }
  .boxB {
    margin-left: 300px;
  }
  .frameB .txt {
    max-width: 650px;
  }

  .segDFrame {
    justify-content: space-between;
  }
  .segDFrame h1 {
    width: 700px;
  }
  .reviewFrame {
    margin-left: 0;
    gap: 32px;
  }
  .reviewGrid,
  .reviewGridB {
    gap: 32px;
  }

  /* .guides {
    width: 1216px;
  } */
  .guidesGrid {
    /* width: fit-content; */
    /* grid-template-columns: repeat(2, 588px); */
    gap: 37px;
  }
}

@media screen and (min-width: 1540px) {
  .reviewFrame {
    margin-left: 56px;
  }
}
