.grid {
  width: 288px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.scrollButtonCarrier {
  display: none;
}

@media screen and (min-width: 600px) {
  .grid {
    width: unset;
    grid-template-columns: repeat(2, 288px);
  }
}

@media screen and (min-width: 1000px) {
  .gridWrapper {
    overflow-x: auto;
    mask-image: linear-gradient(to right, #000 0% 96%, transparent 100%);
    padding-left: 24px;
  }
  .gridWrapper.atEnd {
    mask-image: none;
  }
  .gridWrapper::-webkit-scrollbar {
    display: none;
  }
  .grid {
    width: unset;
    grid-template-columns: repeat(5, 288px);
    margin: 0;
  }

  .scrollButtonCarrier {
    display: block;
  }
}
