.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.2s;
}

.scrollButton:hover {
  opacity: 0.8;
}

.scrollButton span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
